<title>Clean Blog</title>
<header>
  <div class="entry">
    <%= render 'shim' %>
    <%= render 'navigation' %>
    <%= render 'header' %>
    <%= render 'carousel' %>
  </div>
</header>

<%= render 'about' %>
<%= render 'blog' %>
<%= render 'brands' %>


<%= render 'footer' %>