<title>Clean Blog</title>
<header>
  <div class="entry" style="height:100vh;">
    <%= render 'shim' %>
    <%= render 'navigation' %>
    <%= render 'header' %>
    <%= render 'carousel' %>
  </div>
</header>

  <%= render 'login_slider' %>

<%= render 'brands' %>

<br>
<%= render 'footer' %>