<footer>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <%= render "users/shared/subscribe" %>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row footer-top">
      <div class="col-md-4 col-sm-12 blog">
        <div class="blog-img">
          <img style="max-width:100px; min-width:60px;" alt="Blog Logo" class="blog-img" src="<%= asset_path 'blog_logo.png' %>">
        </div>
        <div>
          <p>4U</p>
          <p><%= t('landing.footer.blog.html') %></p>
          <p class="link" href="<%= blog_path %>">Read the latest post</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 footer-info">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul>
            <li><a href="/help"><%= t('landing.footer.help') %></a></li>
            <li><a href="/privacy"><%= t('landing.footer.privacy_policy') %></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul>
            <li><a href="mailto:social@4dandies.com" target="_top"><%= t('landing.footer.email_us') %></a></li>
            <li><a href="/terms"><%= t('landing.footer.terms') %></a></li>
          </ul>
        </div>
        <div class="clearfix visible-xs-block"></div>
      </div>
      <div class="col-md-4 col-sm-12 footer-subscribe">
        <p><%= t('landing.footer.be_first') %></p>
        <p><%= t('landing.footer.sign_up') %></p>
        <a href=#myModal class="link" data-toggle="modal" data-target="#myModal">Subscribe</a >
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-sm-5 col-xs-12 copyright">
        <p>
          @1893-2016 4dandies. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7 col-xs-12 social-buttons">
        <a href="<%= instagram_path %>" target="_blank"><i class="fa fa-instagram hvr-grow"></i></a>
        <a href="<%= facebook_path %>" target="_blank"><i class="fa fa-facebook hvr-grow"></i></a>
        <a href="<%= pinterest_path %>" target="_blank"><i class="fa fa-pinterest hvr-grow"></i></a>
        <a href="<%= twitter_path %>" target="_blank"><i class="fa fa-twitter hvr-grow"></i></a>
        <a href="<%= youtube_path %>" target="_blank"><i class="fa fa-youtube-play hvr-grow"></i></a>
        <a href="<%= google_plus_path %>" target="_blank"><i class="fa fa-google-plus-square hvr-grow"></i></a>
      </div>
    </div>
  </div>
</footer>