<footer>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <%= render "users/shared/subscribe" %>
    </div>
  </div>
  <div>
    <div class="row row-info">
      <div class="col-sm-4">
        <section class="footer-section blog">
          <div class="footer-section-wrapper">
            <div class="image-wrapper">
              <img alt="Blog Logo" class="blog-img" src="<%= asset_path 'blog_logo.png' %>">
            </div>
            <div class="description-wrapper">
              <div class="blog-title">4u</div>
              <div class="blog-description">At 4Dandies we look to introduce great emerging brands and designers. At 4U we look to tell their stories.
                <nav class="cl-effect-4" id="cl-effect-4">
                  <a class="blog-link" href="<%= blog_path %>">Read
                    the latest post</a>
                </nav>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-12">
          <div class="help-link one">
            <a class="link" href="/help"><%= t('landing.footer.help') %></a>
          </div>
          <div class="help-link five">
            <a class="link" href="/privacy"><%= t('landing.footer.privacy_policy') %></a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="help-link six">
            <a class="link" href="mailto:social@4dandies.com" target="_top"><%= t('landing.footer.email_us') %></a>
          </div>
          <div class="help-link six">
            <a class="link" href="/terms"><%= t('landing.footer.terms') %></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <section class="footer-section newsletter">
          <div class="title">Be First</div>
          <div class="description">Be the first to know about more about us and products. Sign up for email storytelling.
          </div>
        </section>
        <section>
          <nav class="cl-effect-4" id="cl-effect-4">
            <a href=#myModal class="blog-link" data-toggle="modal" data-target="#myModal">Subscribe</a >
          </nav>
        </section>
      </div>
    </div>
    <div class="row row-eq-height row-copyright-social">
      <div class="col-sm-5 copyright">
        <p>
          @1893-2016 4dandies. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7 social-buttons">
        <a href="<%= instagram_path %>" target="_blank"><i class="fa fa-instagram hvr-grow"></i></a>
        <a href="<%= facebook_path %>" target="_blank"><i class="fa fa-facebook hvr-grow"></i></a>
        <a href="<%= pinterest_path %>" target="_blank"><i class="fa fa-pinterest hvr-grow"></i></a>
        <a href="<%= twitter_path %>" target="_blank"><i class="fa fa-twitter hvr-grow"></i></a>
        <a href="<%= youtube_path %>" target="_blank"><i class="fa fa-youtube-play hvr-grow"></i></a>
        <a href="<%= google_plus_path %>" target="_blank"><i class="fa fa-google-plus-square hvr-grow"></i></a>
      </div>
    </div>
  </div>

</footer>