<footer>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <%= render "users/shared/subscribe" %>
    </div>
  </div>
  <div>
    <div class="row row-info">
      <div class="col-sm-4">
        <section class="footer-section blog">
          <div class="footer-section-wrapper">
            <div class="image-wrapper">
              <img alt="Equateur Logo" class="blog-img" src="https://da7alfkd8qg77.cloudfront.net/assets/v2/footer/equateur-9f60606662b1ec99a9e15ba07d21ed4b08aee7dc456324f6946848c7d528ebff.png">
            </div>
            <div class="description-wrapper">
              <div class="blog-title">4u</div>
              <div class="blog-description">At Bonobos, we strive to make great
                clothing. With Equateur, we tell the stories of the humans who wear
                it.
                <nav class="cl-effect-4" id="cl-effect-4">
                  <a class="blog-link" href="<%= blog_path %>">Read
                    the latest post</a>
                </nav>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-12">
          <div class="help-link one">
            <a class="link" href="/help"><%= t('landing.footer.help') %></a>
          </div>
          <div class="help-link five">
            <a class="link" href="/privacy"><%= t('landing.footer.privacy_policy') %></a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="help-link six">
            <a class="link" href="/contact-us"><%= t('landing.footer.email_us') %></a>
          </div>
          <div class="help-link six">
            <a class="link" href="/terms"><%= t('landing.footer.terms') %></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <section class="footer-section newsletter">
          <div class="title">Be First</div>
          <div class="description">Want exclusive offers and first access to
            products? Sign up for email alerts.
          </div>
        </section>
        <section>
          <nav class="cl-effect-4" id="cl-effect-4">
            <a href=#myModal class="blog-link" data-toggle="modal" data-target="#myModal">Subscribe</a >
          </nav>
        </section>
      </div>
    </div>
    <div class="row row-eq-height row-copyright-social">
      <div class="col-sm-5 copyright">
        <p>
          @1893-2016 4dandies. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7 social-buttons">
        <a href="<%= instagram_path %>"><i class="fa fa-instagram hvr-grow"></i></a>
        <a href="<%= facebook_path %>"><i class="fa fa-facebook hvr-grow"></i></a>
        <a href="<%= pinterest_path %>"><i class="fa fa-pinterest hvr-grow"></i></a>
        <a href="<%= twitter_path %>"><i class="fa fa-twitter hvr-grow"></i></a>
        <a href="<%= youtube_path %>"><i class="fa fa-youtube-play hvr-grow"></i></a>
        <a href="<%= google_plus_path %>"><i class="fa fa-google-plus-square hvr-grow"></i></a>
      </div>
    </div>
  </div>

</footer>