<div class="header">
  <div class="cover"></div>
  <div class="info">
    <div class="container-fluid">
      <p class="title">Discover Brands, Follow Trends</p>
      <p class="description">The Portugal platform for emergent fashion brands &
        designers</p>
    </div>
  </div>
  <div class="followus">
    <div class="container">
      <p class="title"> <%= t('landing.titles.follow_us') %> </p>
      <p>
      <div class="social">
        <a href="<%= instagram_path %>"><i class="fa fa-instagram hvr-grow"></i></a>
        <a href="<%= facebook_path %>"><i class="fa fa-facebook hvr-grow"></i></a>
        <a href="<%= pinterest_path %>"><i class="fa fa-pinterest hvr-grow"></i></a>
        <a href="<%= twitter_path %>"><i class="fa fa-twitter hvr-grow"></i></a>
        <a href="<%= youtube_path %>"><i class="fa fa-youtube-play hvr-grow"></i></a>
        <a href="<%= google_plus_path %>"><i class="fa fa-google-plus-square hvr-grow"></i></a>
      </div>
      </p>
      <p id="arrow">
        <a href="#left"><i class="glyphicon glyphicon-menu-down"></i></a></p>
    </div>
  </div>
</div>