<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">
        <div id="img"></div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="other_buttons">
          <a href="<%= root_url %>">Home</a></li>
        <li class="other_buttons">
          <a href="<%= blog_url %>">Blog</a></li>
        <li class="other_buttons">
          <a href="<%= brands_url %>">Brands</a></li>
        <li class="other_buttons">
          <a href="mailto:social@4dandies.com" target="_top">Contact</a></li>
        <li class="subscribe-button">
          <a href="<%= new_user_registration_path %>">Subscribe</a></li>
      </ul>
    </div>
  </div>
</nav>