<%= render 'header' %>
<%= render 'carousel' %>
<%= render 'users/shared/usergrid' %>
<%= render 'layouts/messages' %>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= render "users/shared/subscribe" %>
  </div>

</div>
</div>
<%= render 'about' %>
<%= render 'blog' %>
<%= render 'brands' %>


