<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:400">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'shim' %>
</head>
<body>

<%= render 'application/navigation' %>
<%= yield %>
</body>
<%= render 'application/footer' %>
</html>
