<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer style="background-image: url(<%= asset_path 'clean_blog/footer_castanho-100.png'%>);">
  <div>
    <div class="row row-info">
      <div class="col-sm-4">
        <section class="footer-section blog">
          <div class="footer-section-wrapper">
            <div class="image-wrapper">
              <img alt="Equateur Logo" class="blog-img" src="https://da7alfkd8qg77.cloudfront.net/assets/v2/footer/equateur-9f60606662b1ec99a9e15ba07d21ed4b08aee7dc456324f6946848c7d528ebff.png">
            </div>
            <div class="description-wrapper">
              <div class="blog-title">Equateur</div>
              <div class="blog-description">At Bonobos, we strive to make great
                clothing. With Equateur, we tell the stories of the humans who wear
                it.<a class="blog-link" href="http://equateur.bonobos.com/" rel="noopener" target="_blank">Read
                the latest post</a></div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-12">
          <div class="help-link one">
            <a class="link" href="/help">Help</a>
          </div>
          <div class="help-link five">
            <a class="link" href="/privacy">Privacy Policy</a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="help-link six">
            <a class="link" href="/contact-us">Email Us</a>
          </div>
          <div class="help-link six">
            <a class="link" href="/terms">Terms</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <section class="footer-section newsletter">
          <div class="title">Be First</div>
          <div class="description">Want exclusive offers and first access to
            products? Sign up for email alerts.
          </div>
        </section>
      </div>
    </div>
    <div class="row row-eq-height row-copyright-social">
      <div class="col-sm-5 copyright">
        <p>
          @1893-2016 4dandies. All Rights Reserved.
        </p>
      </div>
      <div class="col-sm-7 social-buttons">
        <a href="/users/auth/facebook">
          <i class="fa fa-facebook-square hvr-grow" ></i>
        </a>
        <a href="/users/auth/twitter">
          <i class="fa fa-twitter hvr-grow" ></i>
        </a>
        <a href="/users/auth/google_oauth2">
          <i class="fa fa-google hvr-grow"></i>
        </a>
      </div>
    </div>
  </div>

</footer>
</html>
